html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

#game {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 200;
}

p {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subtitle {
  margin-top: 18px;
  margin-bottom: 18px;
}

.gray {
  color: rgb(200, 200, 200);
}

.note {
  margin-top: 18px;
  font-size: 12px;
  color: rgb(200, 200, 200);
}

.container {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 400;
}

.blur {
  backdrop-filter: blur(5px);
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.notification {
  display: flex;
  position: absolute;
  top: 10px;
  height: 20px;
  padding: 6px 8px 6px 8px;
  border-radius: 10px;
  background-color: white;
  opacity: 1;
  z-index: 399;
}

.animated {
  animation: 2.75s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.notification-none {
  display: none;
}

.no {
  display: none;
}

#coordinates {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 7.5px;
  bottom: 7.5px;
  z-index: 500;
}

#globalSettingsWindow {
  padding: 25px;
  width: 500px;
  height: 624px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.515);
  z-index: 500;
}

#botSettingsWindow {
  padding: 25px;
  width: 500px;
  height: 404px;
  background-color: white;
  border-radius: 25px;
  display: none;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.515);
  z-index: 500;
}

#music {
  top: 55px;
  padding: 20px;
  width: 500px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.515);
  z-index: 10000;
  position: absolute;
  backdrop-filter: blur(5px);
}

#history {
  bottom: 64px;
  padding: 20px;
  width: 500px;
  max-height: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.515);
  z-index: 500;
  position: absolute;
}

#restart {
  bottom: 64px;
  padding: 20px;
  width: 500px;
  height: 93px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.515);
  z-index: 500;
  position: absolute;
}

#restart .wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.green {
  background-color: rgb(135, 255, 135);
}

.open {
  opacity: 0;
  animation: 0.25s occurence;
  animation-fill-mode: forwards;
}

.notification-start {
  opacity: 0;
  animation: 0.25s occurence-for-notification;
  animation-fill-mode: forwards;
}

.escape {
  opacity: 1;
  animation: 0.25s dissolution;
  animation-fill-mode: forwards;
}

@keyframes occurence-for-notification {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes occurence {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes dissolution {
  0% {
    opacity: 1;
    margin-top: 0;
  }
  100% {
    opacity: 0;
    margin-top: -10px;
  }
}

#historyWrapper {
  overflow: auto;
}

.scrolled {
  overflow: auto;
}

.scrolled p {
  margin: 5px;
}

.styled-scrollbars {
  scrollbar-color: #ffffff white;
}

.styled-scrollbars::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.styled-scrollbars::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 5px;
}

.styled-scrollbars::-webkit-scrollbar-track {
  padding-bottom: 5px;
}

#buttonHistory {
  display: none;
}

#buttonRestart {
  display: none;
}

.hud {
  display: flex;
  position: absolute;
  bottom: 15px;
  flex-direction: row;
  gap: 5px;
}

.stat {
  display: none;
  flex-direction: row;
  margin-top: 7px;
  margin-right: 25px;
  margin-left: 25px;
  gap: 5px;
  z-index: 500;
  color: white;
}

.stat img {
  height: 20px;
  width: 20px;
}

.button {
  height: 20px;
  padding: 8px 8px 8px 8px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  z-index: 510;
  justify-content: center;
  cursor: pointer;
}

.button img {
  height: 20px;
  width: 20px;
}

button {
  width: 500px;
  min-height: 50px;
  border: none;
  margin-top: 25px;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  cursor: pointer;
}

.defaultCheckbox {
  display: none;
}

.checkbox__switch {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  background-color: rgb(223, 223, 223);
  background-size: 50%;
  cursor: pointer;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
}

.checkbox__switch .wrapper {
  display: flex;
  position: absolute;
  width: 500px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.checkbox__switch .wrapper > div {
  width: 50%;
  text-align: center;
  padding-top: 15px;
}

.checkbox__switch::after {
  position: absolute;
  margin-left: 16px;
}

.checkbox__switch::before {
  position: absolute;
  margin-left: 170px;
}

.switch {
  display: flex;
  background-color: rgb(135, 255, 135);
  width: 250px;
  height: 50px;
}

.defaultCheckbox:checked + .checkbox__switch .switch {
  margin-left: 0;
  transition: margin-left, 0.6s, ease-in, 0.5s;
}

.defaultCheckbox:not(:checked) + .checkbox__switch .switch {
  margin-left: 250px;
  transition: margin-left, 0.6s, ease-in, 0.5s;
}

.defaultCheckbox:checked + .checkbox__switch .switch.colored {
  background-color: rgb(255, 135, 135);
  margin-left: 0;
  transition: margin-left, 0.6s, ease-in, 0.5s;
}

.defaultCheckbox:not(:checked) + .checkbox__switch .switch.colored {
  background-color: rgb(135, 255, 135);
  margin-left: 250px;
  transition: margin-left, 0.6s, ease-in, 0.5s;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#randomPlacement:checked ~ * #typeRandomPlacement__switch {
  background-color: rgb(223, 223, 223);
}

#randomPlacement:checked ~ * #typeRandomPlacement__on {
  display: none;
}

#typeRandomPlacement__off {
  display: none;
  padding-top: 15px;
}

#randomPlacement:checked ~ * #typeRandomPlacement__off {
  display: inline-block;
  height: 35px;
  color: gray;
  cursor: default;
}

#botType:checked ~ * input[type="range"]::-webkit-slider-thumb {
  display: flex;
}

#botType:not(:checked) ~ * input[type="range"]::-webkit-slider-thumb {
  display: none;
}

#botType:checked ~ * .percentOfHits__off {
  display: none;
}

#botType:not(:checked) ~ * .percentOfHits__off {
  display: inline-block;
}

#botType:checked ~ * .percentOfHits__on {
  display: inline-block;
}

#botType:not(:checked) ~ * .percentOfHits__on {
  display: none;
}

input[type="range"] {
  width: 500px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 50px;
  background-color: rgb(223, 223, 223);
}

input[type="range"]::-webkit-slider-thumb {
  background: rgb(135, 255, 135);
  cursor: pointer;
  width: 5px;
  height: 50px;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-track {
  height: 50px;
  background-color: rgb(223, 223, 223);
}

input[type="range"]::-moz-range-thumb {
  background: rgb(135, 255, 135);
  cursor: pointer;
  width: 5px;
  height: 50px;
  cursor: pointer;
}

@media only screen and (min-height: 600px) and (max-height: 775px) {
  #globalSettingsWindow {
    padding: 20px;
    height: 470px;
  }

  #typeRandomPlacement__off {
    padding-top: 10px;
  }

  #botSettingsWindow {
    padding: 20px;
    height: 305px;
  }

  .subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #globalSettingsWindow .switch,
  #botSettingsWindow .switch {
    height: 40px;
  }

  #globalSettingsWindow .checkbox__switch .wrapper > div,
  #botSettingsWindow .checkbox__switch .wrapper > div {
    padding-top: 10px;
  }

  .note {
    margin-top: 12px;
  }

  #globalSettingsWindow button,
  #botSettingsWindow button {
    margin-top: 15px;
    min-height: 40px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 40px;
    background-color: rgb(223, 223, 223);
  }

  input[type="range"]::-webkit-slider-thumb {
    background: #1fff62;
    cursor: pointer;
    width: 5px;
    height: 40px;
    -webkit-appearance: none;
  }
}

@media only screen and (min-height: 0px) and (max-height: 600px) {
  #globalSettingsWindow {
    height: 400px;
    padding: 15px;
  }

  #typeRandomPlacement__off {
    padding-top: 7px;
  }

  #botSettingsWindow {
    height: 260px;
    padding: 15px;
  }

  .subtitle {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
  }

  #globalSettingsWindow .switch,
  #botSettingsWindow .switch {
    height: 32.5px;
  }

  #globalSettingsWindow .checkbox__switch .wrapper > div,
  #botSettingsWindow .checkbox__switch .wrapper > div {
    padding-top: 7px;
  }

  .note {
    margin-top: 8px;
  }

  #globalSettingsWindow button,
  #botSettingsWindow button {
    margin-top: 12.5px;
    min-height: 32.5px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 32.5px;
    background-color: rgb(223, 223, 223);
  }

  input[type="range"]::-webkit-slider-thumb {
    background: #1fff62;
    cursor: pointer;
    width: 5px;
    height: 32.5px;
    -webkit-appearance: none;
  }
}
